$light-brown: #E9B465;
$dark-brown: #AF905A;
$light-pink: #ffe1c7;
$white: #ffffff;
$light-grey: #CECECE;
$dark-grey: #404040;
$black: #000;
$font-color: #FFF0E3;
$light-cream: #FBF7EA;
$green: #9AE965;
